<aside id="menu">
   <div id="separador" class="" hidden><a><img id="imagen" src="../assets/ICONOS/64572.png" width="45px" height="45px"/></a></div>
   <div >
   </div>
    <div *ngFor="let path of rutas ">
        <!-- <div *ngIf="path.per_uri === 'cliente' && puedeVer " id="separado" class="cliente"><a [routerLink] = "['/usuaCliente']"><img id="imagen" src="../assets/ICONOS/ICONO1.png" width="45px" height="45px"></a></div> -->
        <div *ngIf="path.per_uri === 'cliente'" id="separado" class="cliente"><a [routerLink] = "['/usuaCliente']"><img id="imagen" src="../assets/ICONOS/ICONO1.png" width="45px" height="45px"></a></div>
        <div *ngIf="path.per_uri === 'stock'"  id="separado" class=""><a [routerLink] = "['/stock']"><img id="imagen" src="../assets/ICONOS/Capa 7.png"  width="45px" height="45px"></a></div>
        <div *ngIf="path.per_uri === 'ordenes'"  id="separado" class=""><a [routerLink] = "['/ordenes']"><img id="imagen" src="../assets/ICONOS/Capa 11 copia 2.png"  width="45px" height="45px"></a></div>
        <div *ngIf="path.per_uri === 'movimientos'"  id="separado" class=""><a [routerLink] = "['/movimientos']"><img id="imagen" src="../assets/ICONOS/MOV 2.png"  width="45px" height="45px"></a></div>
    </div>
    <div id="separado" class="" hidden><a [routerLink] = "['/solicitud']"><img id="imagen" src="../assets/ICONOS/Capa 8.png"  width="45px" height="45px"></a></div>
    <div id="cerrarSesion" class="">
        <div style="cursor:pointer" (click)="mostrarDialogo()"><a><img id="imagen" src="../assets/ICONOS/cerrar-sesion.png"  width="45px" height="45px"></a></div>
    </div>

    <div id="inferior" class="" hidden>
        <div><a href="#"><img id="imagen" src="../assets/ICONOS/Capa 11.png"  width="45px" height="45px"></a></div>
    </div>
</aside>
