<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="padding-top:10px" class="table table-striped table-bordered row-border hover">
  <thead>
    <tr style="background:#E6E6E6">
      <th>Editar</th>
      <th>Grupo Cuentas</th>
      <th>Cod.SAP Chofer</th>
      <th>Nombre</th>
      <th>Condicion Busq.</th>
      <th>pais</th>
      <th>idioma</th>
      <th>N° Identif. Fis</th>
      <th>estado transaccion</th>
      <th>estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of listchofer">
      <td><a><img id="imagen" src="../assets/ICONOS/blue.png" (click)='abrirPopEditar(e.cho_cod)' width="20px" height="20px"></a></td>
      <td>{{ e.cho_gru_cue }}</td>
      <td>{{ e.cho_cod_sap_cho }}</td>
      <td>{{ e.cho_nom }}</td>
      <td>{{ e.cho_con_bus }}</td>
      <td>{{ e.cho_pai }}</td>
      <td>{{ e.cho_idi }}</td>
      <td>{{ e.cho_num_ide_fis }}</td>
      <td>{{e.cho_est_reg}}</td>
      <td>{{e.cho_est}}</td>
    </tr>
  </tbody>
</table>
