html, body {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.ocul{
	display: none;
}

#contenido{
	position: relative;
	width: 100%;
	padding: 15px 30px 0px 152px;
}
#contenido.activ{
	padding-left: 47px;
}
#admClie{
	padding-top: 40px;
}
#posi{
	float: left;
	padding-top: 10px;
}
#pos{
	float: left;
}
#titulo{
	padding: 20px 0px 0px 12px;
  color: #1B76BD;
  font-size: 1.9rem;
  float: left;
}
#contendoTabla{
	clear: both;
	padding-top: 40px
}
/*Administrar Usuarios*/

#subtitu{
	clear: both;
}
#subtitu h2{
	font-size: 20pt;
}
#btn_retroceder{
	text-decoration: none;
    font-size: 30pt;
    font-family: monospace;
}
#admUsua{
	padding-top: 40px;
}
#borde{
	border-radius: 15px;
    height: 39px;
    margin-left: 43px;
}
#tamanio{
	font-size: 16pt;
    width: 39%;
}
#linea{
	background: #C9C9C9;
	height: 10px;
	position: relative;
	clear: both;
	top: 25px;
}
#linea p{
	text-align: center;
}
#espaciado{
	margin: 0px 8px 28px 0px;
}
/*solicitud0*/
#soli{
	padding-top: 40px;
}
/*tabla*/
#tabla{
	width:100%;
	overflow-x:scroll;
	white-space:nowrap;
	padding: 40px 20px 0px 147px;
}

/*Selecione*/
.DesSelector{
		clear: both;
		margin:25px 0px 0px 0px;
    border-radius: 63%;
		display: flex;
		float: left;
}
.SvcPres{
		margin: 25px 0px 0px 0px ;
    width: 41pc;
    border-radius: 63%;
		display: flex;
		float: left;
}
.Origen{
		margin: 25px 0px 0px 0px;
    border-radius: 63%;
		display: flex;
		float: left;
}
.Destino{
  margin:25px 0px 0px 0px;
  border-radius: 63%;
  display: flex;
  float: left;
}
.Estado{
  margin: 25px 0px 0px 0px;
  border-radius: 63%;
  display: flex;
  float: left;
}
.fecIni{
  clear: both;
  margin:10px 0px 0px 0px;
  border-radius: 63%;
  float: left;

}
.fechaRealIni{
  margin:10px 0px 10px 0px;
  border-radius: 63%;
  float: left;

}

.btnStock{
	margin: 25px;
	border-radius: 63%;
	display: flex;
	float: right;
	width: 10pc;
}
.Origen label{
	width:167px;
}
.ScvPre label{
	width:167px;
}
.Destino label{
	width:167px;
}
.Estado label{
	width: 167px;
}

#des{
  clear: both;
}
#sepa{
  display: flex;
  clear: both;
}
input{
	border-radius:50px;
}

label{
	margin: 10px;
	font-size: 17px;
  float: left;
}
#fechaDes{
  clear: both;
  display: flex;
}
#fechahas{
  clear: both;
  display: flex;
}
/*tamaño*/

@media (max-width: 1158px){
	#titu h2{
		margin: auto;
	}
}

@media (max-width: 987px){
	#titulo{
		padding: 20px 0px 0px 12px;
		float: left;
	}
}
@media (max-width: 813px){
	.SvcPres{
			margin: 25px 0px 0px 0px ;
	    width: 100%;
	    border-radius: 63%;
			display: flex;
			float: left;
	}
	.btnStock input{
		height: 30px;
		padding: 0px
	}
	input{
		height: 30px;
	}
	.btnStock{
		margin: 25px;
    border-radius: 63%;
    display: flex;
    float: right;
    /* width: 7pc; */
    position: absolute;
    float: right;
    right: 10px;
    top: 0px;
    width: 28%;
	}
}
@media (max-width: 713px){

	#fecha{
		font-size: 14pt;
		width: 60%;
  	text-align: right;
  	padding-top: 3%;
  	position: absolute;
  	left: 42%;
	}
	#menu{
		display: none;
	}
	#titulo{
		padding: 20px 0px 0px 12px;
		font-size: 22px;
	}
	.menu_bar{
		position: relative;
		display: block;
		float: left;
  	width: 25px;
  	margin:10px;
	}
	.centrar{
		margin: 0px 11px 0px 11px;
	}

	#cabecera{
		padding-left:10px;
	}
	#contenido{
		padding-left:20px;
	}
	#tabla{
		padding: 37px 0px 0px 0px;
	}
}
@media (max-width: 600px){
	.fecIni #sepa{
		display: block;
	}
	.fechaRealIni #sepa{
			display: block;
	}
	#des{
			margin: 10px 33px;
	}
}

@media (max-width: 360px){
	#titulo{
		font-size: 20px;
	}
}
@media (max-width: 320px){
	#titulo{
		font-size: 18px;
	}
}
